<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do App</title>
    <!-- Import the tailwind library -->
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link href="./index.css" rel="stylesheet" />
</head>
<body>
    <div id="app">
        <header>
            {{headerText}}
        </header>
        <section class="mainSection">
            <div class="sidebar">
                <div class="sidetab sideInput">
                    <input type="text" v-model="addCategory" placeholder="Enter Here" id="sideInput"/>
                    <button v-on:click="addTitle(addCategory)">Ok</button>
                </div>
                <div class="sidetab" v-for="title of titles">
                    <div @click="setActive(title.name)">{{title.name}}</div>
                </div>
                
            </div>
            <div class="mainBody">
                <div class="card">
                    <h2>{{activeTab}}</h2>
                    <p class="main">
                        <span @click="enableEdit('heading')" class="heading">
                            <span v-show="!headingEdit">{{initialHeading}}</span>
                            <input v-show="headingEdit" type="text" v-model="initialHeading" />
                        </span><br />                  
                        <span @click="enableEdit('mainDescription')" class="mainDescription">
                            <span v-show="!descriptionEdit">{{initialDescription}}</span>
                            <textarea v-show="descriptionEdit" v-model="initialDescription" rows="5" cols="60">

                            </textarea>
                        </span>
                        <br />
                        <button v-show="headingEdit === true || descriptionEdit === true" @click="handleEdit">Save</button>
                    </p>
                    <div class="inputAndButton">
                        <input type="text" placeholder="Enter the Assignee's name" v-model="assignee" />
                        <button type="button" @click="addAssignee">Add assignee</button>
                    </div>
                    <div v-for="title in titles" :key="title.name">
                        <ul v-if="title.assignees.length >= 1 && title.name == activeTab">
                            
                                <li v-for="member in title.assignees">
                                    <div class="assigneesList"></div>
                                        --> {{member}}
                                        <button @click="deleteAssignee(member)">X</button>
                                    </div>
                                </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="./app.js"></script>   
</body>
</html>