<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do App</title>
    
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="./index.css" rel="stylesheet" />
</head>
<body>
    <div id="app">
        <header>
            {{headerText}}
        </header>
        <section class="mainSection">
            <div class="sidebar">
                <div class="sidetab sideInput">
                    <input type="text" v-model="addCategory" placeholder="Enter Here" id="sideInput"/>
                    <button v-on:click="addTitle(addCategory)">Ok</button>
                </div>
                <div class="sidetab" v-for="title of titles">
                    <div @click="setActive(title.name)">{{title.name}}</div>
                </div>
                
            </div>
            <div class="mainBody">
                <div class="card">
                    <h2>{{activeTab}}</h2>
                    <p>
                        <span>A description for the given title</span><br />
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Ipsa sequi harum sapiente, vitae aspernatur ut vero at culpa 
                        fuga eligendi aliquam. Qui, nisi odio magnam odit necessitatibus 
                        sunt, esse maiores, quis eligendi dolores at ipsam commodi dicta 
                        quo repellendus eius.
                    </p>
                    <div class="inputAndButton">
                        <input type="text" placeholder="Enter the Assignee's name" v-model="assignee" />
                        <button type="button" @click="addAssignee">Add assignee</button>
                    </div>
                    <div v-for="title in titles">
                        <ul v-if="title.assignees.length >= 1">
                            <li v-for="item in title.assignees">--> {{item}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="./app.js"></script>   
</body>
</html>